
<h1>Keg List</h1>
<select (change)="onChange($event.target.value)">
  <option value="allKegs" selected="selected">All Kegs</option>
  <option value="highAlcohol">High Alcohol Content</option>
  <option value="highPrice">Premium price</option>
</select>
    <div *ngFor="let currentKeg of childKegList | alcoholness:filterByAlcoholness">
      <div  [class]="typeColor(currentKeg)" >
        <h3  (click)="showKeg(currentKeg)">{{currentKeg.name}}</h3>
        <div *ngIf="kegToShow && kegToShow == currentKeg">
          <ul>
            <h4>Brewery: {{currentKeg.brand}}</h4>
            <h4>Type: {{currentKeg.type}}</h4>
            <h4>ABV: {{currentKeg.alcoholCnt}}%</h4>
            <h4>Price/pnt: ${{currentKeg.price}}</h4>
            <h4 [class]="kegLow(currentKeg)">Number of Pints Remaining: {{currentKeg.volumeByPint}}</h4>
          </ul>
          <button (click)="editButtonClicked(currentKeg)">Edit</button>
          <button (click)="sellButtonClicked(currentKeg)">Sell Pint</button>
          <button (click)="sellButtonGrowlerClicked(currentKeg)">Sell Small Growler</button>
          <button (click)="sellButtonLargerGrowlerClicked(currentKeg)">Sell Large Growler</button>
        </div>
      </div>
    </div>
