
<h1>Keg List</h1>
<select (change)="onChange($event.target.value)">
  <option value="allKegs" selected="selected">All Kegs</option>
  <option value="highAlcohol">High Alcohol Content</option>
  <option value="highPrice">Premium price</option>
</select>
<div class="row">
  <div class="col-md-4">
    <div *ngFor="let currentKeg of childKegList | alcoholness:filterByAlcoholness">
      <div  [class]="typeColor(currentKeg)" >
        <h3  (click)="showKeg(currentKeg)">{{currentKeg.name}}</h3>
        <div *ngIf="kegToShow && kegToShow == currentKeg">
          <ul>
            <h4>Brewery: {{currentKeg.brand}}</h4>
            <h4>Type: {{currentKeg.type}}</h4>
            <h4>ABU: {{currentKeg.alcoholCnt}}%</h4>
            <h4>Price/pnt: ${{currentKeg.price}}</h4>
            <h4 [class]="kegLow(currentKeg)">Number of Pints Remaining: {{currentKeg.volumeByPint}}</h4>
          </ul>
          <button (click)="editButtonClicked(currentKeg)">Edit</button>
          <button (click)="sellButtonClicked(currentKeg)">Sell</button>
        </div>
      </div>
    </div>
  </div>

</div>
